{% extends "layouts/default.njk" %}

{# Variables #}
{% set titlePage = 'Index page' %}

{% block content %}
    <section id="content" class="container-wrapper scheduler">
        <aside class="side-panel profile">
            {% set user = ('' | getUsers)[0] %}
            <img class="profile__image" src="{{ user.picture.large }}" alt="{{ user.name.first }} {{ user.name.last }}">
            <h2 class="profile__name">{{ user.name.first }} {{ user.name.last }}</h2>
            <h1 class="profile__event-title">Front-End Engineer intro call</h1>
        </aside>
        <section class="main-panel">
            <h1 class="main-panel__title">Select a Date & Time</h1>
            <div class="main-panel__row">
                <form action="#">
                    <input type="hidden" class="calendar">
                </form>
                <section class="time-panel -is-hidden">
                    <h2 class="time-panel__title"></h2>
                    <ul class="time-panel__list"></ul>
                </section>
            </div>
        </section>
    </section>
{% endblock %}

{% block footer %}{% endblock %}
