{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4],
        "import/no-extraneous-dependencies": "off",
        "no-bitwise": ["error", { "int32Hint": true }],
        "no-console": "off"
    }
}
