.flatpickr-calendar {
    //animation: none;
    background: #fff;
    //border: 0;
    border-radius: 5px;
    //box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(#000, 0.08);
    //box-sizing: border-box;
    //direction: ltr;
    //display: none;
    font-size: 14px;
    line-height: 24px;
    margin-top: 1.8rem;
    //opacity: 0;
    padding: 0;
    //position: absolute;
    text-align: center;
    touch-action: manipulation;
    //visibility: hidden;
    width: 356px;
    /*
    //&.open,
    //&.inline {
    //    max-height: 640px;
    //    opacity: 1;
    //    visibility: visible;
    //}

    //&.open {
    //    display: inline-block;
    //    z-index: 99999;
    //}

    //&.animate.open {
    //    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    //}

    //&.inline {
    //    display: block;
    //    position: relative;
    //    top: 2px;
    //}

    //&.static {
    //    position: absolute;
    //    top: calc(100% + 2px);
    //}
    //
    //&.static.open {
    //    display: block;
    //    z-index: 999;
    //}

    //.hasWeeks .dayContainer,
    //.hasTime .dayContainer {
    //    border-bottom: 0;
    //    border-bottom-left-radius: 0;
    //    border-bottom-right-radius: 0;
    //}
    //
    //.hasWeeks .dayContainer {
    //    border-left: 0;
    //}
    //
    //&.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
    //    box-shadow: none !important;
    //}
    //
    //&.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
    //    box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
    //}
    //
    //&.showTimeInput.hasTime .flatpickr-time {
    //    border-top: 1px solid #e6e6e6;
    //    height: 40px;
    //}
    //
    //&.noCalendar.hasTime .flatpickr-time {
    //    height: auto;
    //}
    */

    &::before,
    &::after {
        border: solid transparent;
        content: '';
        display: block;
        height: 0;
        left: 22px;
        pointer-events: none;
        position: absolute;
        width: 0;
    }

    &.rightMost::before,
    &.rightMost::after {
        left: auto;
        right: 22px;
    }

    &::before {
        border-width: 5px;
        margin: 0 -5px;
    }

    &::after {
        border-width: 4px;
        margin: 0 -4px;
    }

    &.arrowTop::before,
    &.arrowTop::after {
        bottom: 100%;
    }

    &.arrowTop::before {
        border-bottom-color: #e6e6e6;
    }

    &.arrowTop::after {
        border-bottom-color: #fff;
    }

    &.arrowBottom::before,
    &.arrowBottom::after {
        top: 100%;
    }

    &.arrowBottom::before {
        border-top-color: #e6e6e6;
    }

    &.arrowBottom::after {
        border-top-color: #fff;
    }

    &:focus {
        outline: 0;
    }
}

.flatpickr-wrapper {
    display: inline-block;
    position: relative;
}

.flatpickr-months {
    display: flex;

    .flatpickr-month {
        order: -1;
        margin-right: auto;
        //background: transparent;
        //color: rgba(#000, 0.9);
        //fill: rgba(#000, 0.9);
        //flex: 1;
        //height: 34px;
        //line-height: 1;
        //overflow: hidden;
        //position: relative;
        //text-align: center;
        //user-select: none;
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
        color: rgba(#000, 0.9);
        cursor: pointer;
        //fill: rgba(#000, 0.9);
        //height: 34px;
        padding: 8px 16px;
        //position: absolute;
        text-decoration: none;
        //top: 0;
        z-index: 3;

        i {
            position: relative;
        }

        &:hover {
            color: #959ea9;

            svg {
                fill: #f64747;
            }
        }

        svg {
            height: 14px;
            width: 14px;

            path {
                fill: currentColor;
                transition: fill 0.1s;
            }
        }
    }
}

.flatpickr-current-month {
    color: inherit;
    display: inline-block;
    font-size: 135%;
    //font-weight: 300;
    height: 34px;
    //left: 12.5%;
    line-height: 1;
    padding: 7.48px 0 0;
    //position: absolute;
    text-align: center;
    transform: translate3d(0, 0, 0);
    //width: 75%;

    span.cur-month {
        color: inherit;
        display: inline-block;
        font-family: inherit;
        //font-weight: 700;
        //margin-left: 0.5ch;
        padding: 0;

        &:hover {
            background: rgba(#000, 0.05);
        }
    }

    input.cur-year {
        appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        box-sizing: border-box;
        color: inherit;
        cursor: text;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        font-weight: 300;
        height: auto;
        line-height: inherit;
        margin: 0;
        padding: 0 0 0 0.5ch;
        vertical-align: initial;

        //&:focus {
        //    outline: 0;
        //}

        //&[disabled],
        //&[disabled]:hover {
        //    background: transparent;
        //    color: rgba(#000, 0.5);
        //    font-size: 100%;
        //    pointer-events: none;
        //}
    }

    /*
    //.flatpickr-monthDropdown-months {
    //    background: transparent;
    //    border: 0;
    //    border-radius: 0;
    //    box-sizing: border-box;
    //    color: inherit;
    //    cursor: pointer;
    //    font-family: inherit;
    //    font-size: inherit;
    //    font-weight: 300;
    //    height: auto;
    //    line-height: inherit;
    //    margin: -1px 0 0;
    //    outline: none;
    //    padding: 0 0 0 0.5ch;
    //    position: relative;
    //    vertical-align: initial;
    //    width: auto;
    //
    //    &:focus,
    //    &:active {
    //        outline: none;
    //    }
    //
    //    &:hover {
    //        background: rgba(#000, 0.05);
    //    }
    //
    //    .flatpickr-monthDropdown-month {
    //        background-color: transparent;
    //        outline: none;
    //        padding: 0;
    //    }
    //}
    */
}

.numInputWrapper {
    height: auto;
    position: relative;

    .flatpickr-current-month & {
        display: inline-block;
        width: 6ch;
    }

    input,
    span {
        display: inline-block;
    }

    input {
        width: 100%;
    }

    input::-ms-clear {
        display: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    span {
        display: none;
        /*
        //border: 1px solid rgba(57, 57, 57, 0.15);
        //box-sizing: border-box;
        //cursor: pointer;
        //height: 50%;
        //line-height: 50%;
        //opacity: 0;
        //padding: 0 4px 0 2px;
        //position: absolute;
        //right: 0;
        //width: 14px;
        //
        //&:hover {
        //    background: rgba(#000, 0.1);
        //}
        //
        //&:active {
        //    background: rgba(#000, 0.2);
        //}
        //
        //&::after {
        //    content: '';
        //    display: block;
        //    position: absolute;
        //}
        //
        //&.arrowUp {
        //    border-bottom: 0;
        //    top: 0;
        //
        //    &::after {
        //        border-bottom: 4px solid rgba(57, 57, 57, 0.6);
        //        border-left: 4px solid transparent;
        //        border-right: 4px solid transparent;
        //        top: 26%;
        //
        //        .flatpickr-current-month & {
        //            border-bottom-color: rgba(#000, 0.9);
        //        }
        //    }
        //}
        //
        //&.arrowDown {
        //    top: 50%;
        //
        //    &::after {
        //        border-left: 4px solid transparent;
        //        border-right: 4px solid transparent;
        //        border-top: 4px solid rgba(57, 57, 57, 0.6);
        //        top: 40%;
        //
        //        .flatpickr-current-month & {
        //            border-top-color: rgba(#000, 0.9);
        //        }
        //    }
        //}
        //
        //svg {
        //    height: auto;
        //    width: inherit;
        //
        //    path {
        //        fill: rgba(#000, 0.5);
        //    }
        //}
        */
    }

    //&:hover {
    //    background: rgba(#000, 0.05);
    //
    //    span {
    //        opacity: 1;
    //    }
    //}
}

.flatpickr-weekdays {
    align-items: center;
    background: transparent;
    display: flex;
    height: 50px;
    overflow: hidden;
    text-align: center;
    width: 100%;

    .flatpickr-weekdaycontainer {
        display: flex;
        flex: 1;
    }
}

span.flatpickr-weekday {
    //background: transparent;
    color: rgba(#000, 0.54);
    cursor: default;
    display: block;
    flex: 1;
    font-size: 90%;
    //font-weight: bolder;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.dayContainer,
.flatpickr-weeks {
    padding: 1px 0 0;
}

.flatpickr-days {
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 356px;

    &:focus {
        outline: 0;
    }
}

.dayContainer {
    //box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    //max-width: 356px;
    //min-width: 356px;
    opacity: 1;
    outline: 0;
    //margin: -4px;
    padding: 0;
    text-align: left;
    transform: translate3d(0, 0, 0);
    width: 356px;

    //+ .dayContainer {
    //    box-shadow: -1px 0 0 #e6e6e6;
    //}
}

.flatpickr-day {
    background-color: rgba($color-primary, 0.05);
    border: 1px solid #fff;
    border-radius: 150px;
    //box-sizing: border-box;
    color: $color-primary;
    cursor: pointer;
    display: block;
    //flex-basis: 14.29%;
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    justify-content: center;
    line-height: 44px;
    //margin: 0;
    margin: 0 8px 8px 0;
    max-width: 44px;
    position: relative;
    text-align: center;
    width: 14.29%;

    &.inRange,
    &.prevMonthDay.inRange,
    &.nextMonthDay.inRange,
    &.today.inRange,
    &.prevMonthDay.today.inRange,
    &.nextMonthDay.today.inRange,
    &:hover,
    &.prevMonthDay:hover,
    &.nextMonthDay:hover,
    &:focus,
    &.prevMonthDay:focus,
    &.nextMonthDay:focus {
        background-color: rgba($color-primary, 0.15);
        cursor: pointer;
    }

    &.today {
        &::after {
            bottom: -5px;
            content: '.';
            font-size: 28px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }

    &.selected,
    //&.startRange,
    //&.endRange,
    //&.selected.inRange,
    //&.startRange.inRange,
    //&.endRange.inRange,
    &.selected:focus,
    //&.startRange:focus,
    //&.endRange:focus,
    &.selected:hover,
    //&.startRange:hover,
    //&.endRange:hover,
    &.selected.prevMonthDay,
    //&.startRange.prevMonthDay,
    //&.endRange.prevMonthDay,
    //&.startRange.nextMonthDay,
    //&.endRange.nextMonthDay,
    &.selected.nextMonthDay {
        background-color: $color-primary;
        border-color: $color-primary;
        color: #fff;
    }

    //&.selected.startRange,
    //&.startRange.startRange,
    //&.endRange.startRange {
    //    border-radius: 50px 0 0 50px;
    //}

    //&.selected.endRange,
    //&.startRange.endRange,
    //&.endRange.endRange {
    //    border-radius: 0 50px 50px 0;
    //}

    //&.selected.startRange + .endRange:not(:nth-child(7n+1)),
    //&.startRange.startRange + .endRange:not(:nth-child(7n+1)),
    //&.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    //    box-shadow: -10px 0 0 #569ff7;
    //}

    //&.selected.startRange.endRange,
    //&.startRange.startRange.endRange,
    //&.endRange.startRange.endRange {
    //    border-radius: 50px;
    //}

    //&.inRange {
    //    border-radius: 0;
    //    box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
    //}

    &.flatpickr-disabled,
    &.flatpickr-disabled:hover,
    &.prevMonthDay,
    &.nextMonthDay,
    &.notAllowed,
    &.notAllowed.prevMonthDay,
    &.notAllowed.nextMonthDay {
        background: transparent;
        border-color: transparent;
        color: rgba(77, 80, 85, 0.6);
        cursor: default;
        font-weight: 400;
    }

    //&.week.selected {
    //    border-radius: 0;
    //    box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
    //}
    //

    &.prevMonthDay,
    &.nextMonthDay,
    &.hidden {
        visibility: hidden;
    }

    &:nth-child(7n) {
        margin-right: 0;
    }
}

.rangeMode .flatpickr-day {
    margin-top: 1px;
}

/*
//.flatpickr-weekwrapper {
//    float: left;
//
//    .flatpickr-weeks {
//        box-shadow: 1px 0 0 #e6e6e6;
//        padding: 0 12px;
//    }
//
//    .flatpickr-weekday {
//        float: none;
//        line-height: 28px;
//        width: 100%;
//    }
//
//    span.flatpickr-day,
//    span.flatpickr-day:hover {
//        background: transparent;
//        border: 0;
//        color: rgba(57, 57, 57, 0.3);
//        cursor: default;
//        display: block;
//        max-width: none;
//        width: 100%;
//    }
//}
*/

.flatpickr-innerContainer {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

//.flatpickr-rContainer {
//    box-sizing: border-box;
//    display: inline-block;
//    padding: 0;
//}

/*
//.flatpickr-time {
//    box-sizing: border-box;
//    display: flex;
//    height: 0;
//    line-height: 40px;
//    max-height: 40px;
//    outline: 0;
//    overflow: hidden;
//    text-align: center;
//
//    &::after {
//        clear: both;
//        content: '';
//        display: table;
//    }
//
//    .numInputWrapper {
//        flex: 1;
//        float: left;
//        height: 40px;
//        width: 40%;
//    }
//
//    .numInputWrapper span.arrowUp::after {
//        border-bottom-color: #393939;
//    }
//
//    .numInputWrapper span.arrowDown::after {
//        border-top-color: #393939;
//    }
//
//    &.hasSeconds .numInputWrapper {
//        width: 26%;
//    }
//
//    &.time24hr .numInputWrapper {
//        width: 49%;
//    }
//
//    input {
//        appearance: none;
//        background: transparent;
//        border: 0;
//        border-radius: 0;
//        box-shadow: none;
//        box-sizing: border-box;
//        color: #393939;
//        font-size: 14px;
//        height: inherit;
//        line-height: inherit;
//        margin: 0;
//        padding: 0;
//        position: relative;
//        text-align: center;
//    }
//
//    input.flatpickr-hour {
//        font-weight: bold;
//    }
//
//    input.flatpickr-minute,
//    input.flatpickr-second {
//        font-weight: 400;
//    }
//
//    input:focus {
//        border: 0;
//        outline: 0;
//    }
//
//    .flatpickr-time-separator,
//    .flatpickr-am-pm {
//        align-self: center;
//        color: #393939;
//        float: left;
//        font-weight: bold;
//        height: inherit;
//        line-height: inherit;
//        user-select: none;
//        width: 2%;
//    }
//
//    .flatpickr-am-pm {
//        cursor: pointer;
//        font-weight: 400;
//        outline: 0;
//        text-align: center;
//        width: 18%;
//    }
//
//    input:hover,
//    .flatpickr-am-pm:hover,
//    input:focus,
//    .flatpickr-am-pm:focus {
//        background: #eee;
//    }
//}
*/

.flatpickr-input[readonly] {
    cursor: pointer;
}

@keyframes fpFadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
