$color-primary: #00a2ff;
$color-body: #4d5055;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i&display=swap');
@import './bp';
@import './flatpickr';

/* stylelint-disable */
@import '../../node_modules/node-normalize-scss/normalize';
/* stylelint-enable */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    color: inherit;
}

body {
    background-color: #fbfcfd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;

    a {
        text-decoration: none;
    }
}

a:hover,
a:active {
    outline: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1120px;
    min-height: 100vh;
    padding: 40px 30px 30px;
    position: relative;

    &-wrapper {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
        display: flex;
        flex: 1 1 auto;
        margin: 0 auto;
        min-height: 550px;

        @include breakpoint(medium down) {
            display: block;
            @debug &;
        }
    }
}


.side-panel {
    padding: 20px;
    text-align: center;

    @include breakpoint(large) {
        padding: 25px 10px 25px 30px;
        text-align: left;
        width: 37rem;
    }
}

.profile {
    &__image {
        border-radius: 50%;
        display: block;
        height: 65px;
        margin-bottom: 10px;
        width: 65px;

        @include breakpoint(medium down) {
            margin: 0 auto;
        }
    }

    &__name {
        color: rgba($color-body, 0.8);
        font-size: 16px;
        font-weight: 600;
        margin: 1.2em 0 0.2em;
    }

    &__event-title {
        color: $color-body;
        font-size: 32px;
        font-weight: 600;
        margin: 0;
    }
}

.main-panel {
    background-color: #fff;
    flex-grow: 1;
    padding: 30px 0 30px 25px;

    @include breakpoint(large) {
        box-shadow: -3px 0 5px -4px rgba(0, 0, 0, 0.2);
    }

    @include breakpoint(small down) {
        padding: 20px;
    }

    .flatpickr-input {
        display: none;
    }

    &__title {
        color: $color-body;
        font-size: 20px;
        margin: 0 0.4em;
    }

    &__row {
        display: flex;
        height: 100%;
        width: 100%;

        @include breakpoint(small down) {
            display: block;
        }
    }

    form {
        padding-right: 15px;

        @include breakpoint(medium down) {
            margin: 0 auto;
        }

        @include breakpoint(small down) {
            padding-right: 0;
            overflow: auto;
        }
    }
}

.time-panel {
    $this: &;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 220px;
    padding-left: 15px;

    @include breakpoint(medium down) {
        display: block;
    }

    &.-is-hidden {
        display: none;
    }

    &__title {
        font-size: 16px;
        font-weight: 400;
        height: 38px;
        line-height: 38px;
        margin: 1.2em 0;
    }

    &__list {
        flex: 1 1 100px;
        margin: 0;
        overflow: auto;
        padding: 0;
    }

    &__item {
        display: flex;
        font-size: 16px;
        margin-bottom: 10px;
        margin-right: 30px;
        overflow: hidden;

        &::after {
            content: '';
        }


        &.-is-selected {
            #{$this}__confirm,
            &::after {
                transform: translateX(0);
            }
        }
    }

    &__item::after,
    &__button,
    &__confirm {
        border-radius: 4px;
        cursor: pointer;
        display: block;
        flex: 1 0 auto;
        font-weight: 600;
        height: 52px;
        outline: 0;
        padding: 13px 10px;
        text-align: center;
        transition: width 0.3s ease;
    }

    &__button {
        border: 1px solid $color-primary;
        color: $color-primary;
        width: 100%;

        &:hover,
        &:focus {
            border-width: 2px;
        }

        .-is-selected & {
            background-color: rgba(0, 0, 0, 0.6);
            border-color: transparent;
            color: #fff;
            width: 48.5%;
        }
    }

    &__item::after,
    &__confirm {
        background-color: $color-primary;
        border-color: transparent;
        color: #fff;
        margin-left: 3%;
        width: 48.5%;
    }

    &__confirm {
        &:hover,
        &:focus {
            background-color: rgba($color-primary, 0.5);
        }

        &:active {
            background-color: $color-primary;
        }
    }
}
